<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>index</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<script src="../lib/init/loadFiles.js"></script>
<style type="text/css">
dd{box-sizing: content-box;}
</style>
<style type="text/less">

</style>
</head>
<body>
    <header class="ui-header">
        <div class="ui-limit">
            <div class="ui-logo">
                <img src="../lib/style/images/logo-large.png" class="img-logo" alt="zimuzu.tv" />
                <span class="desc hidden">yyets.com</span>
            </div>
            <ul class="ui-mnav">
                <li><a href="page2nd.html">手机APP</a></li>
                <li><a href="page2nd.html">商业正版翻译</a></li>
                <li><a href="http://www.91dict.com/" target="_blank">人人词典</a></li>
                <li><a href="http://www.zmz2017.com" target="_blank">字幕组下载</a></li>
                <li><a href="http://www.zmz2017.com/Announcement" target="_blank">加入字幕组</a></li>
                <li><a href="page2nd.html">关于我们</a></li>
            </ul>
        </div>
    </header>
    <div class="banner">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
            <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img  alt="First slide [900x500]" src="../lib/style/images/banner/banner01.jpg" data-holder-rendered="true">
              
            </div>
            <div class="item" style="background-color:#df3031;">
              <img alt="Second slide [900x500]" src="../lib/style/images/banner/banner02.jpg" data-holder-rendered="true">
              
            </div>
            <div class="item" style="background-color:#0c2240;">
              <img  alt="Third slide [900x500]" src="../lib/style/images/banner/banner03.jpg" data-holder-rendered="true">
            </div>
          </div>
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class=" fa fa-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class=" fa fa-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </div>
    <div class="ui-card">
        <div class="ui-limit">
            <div class="announcement">
                <ul class="anoc-list">
                    <li><b>网站公告：</b>人我们回来了，2017年，人人影视大品牌战略，让我们一起加油！！！</li>
                    <li><b>网站公告：</b>请“人人美剧”（现叫人人视频）立即停止使用人人影视LOGO <a href="page2nd-announcement.html"><blue>[ 点击了解详情 ]</blue></a></li>
                    <li><b>网站公告：</b>设计、web前端 by ayin86@163.com</li>
                </ul>
                <i class="fa fa-times"></i>
            </div>
            <div class="service">人人影视旗下产品 竭诚为您服务</div>
            <ul class="card-area">
                <li>
                    <div class="panel panel-card" onclick="window.open('page2nd.html');">
                        <div class="panel-heading">
                            <img src="../lib/style/images/translate-logo.png" alt="" />
                            <h1>商业正版翻译</h1>
                            <p>寻求合作伙伴</p>
                        </div>
                        <div class="panel-body">
                            <p>凭借着丰富的经验</p>
                            <p>我们可为您提供</p>
                            <p>影视，书籍，游戏等</p>
                            <p>专业的翻译服务</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="panel panel-card" onclick="window.open('http://www.91dict.com/');">
                        <div class="panel-heading">
                            <img src="../lib/style/images/rrdict-logo.png" alt="" />
                            <h1>人人词典</h1>
                            <p>十年积累大数据</p>
                        </div>
                        <div class="panel-body">
                            <p>字幕组诚意之作</p>
                            <p>紧密贴合剧集场景</p>
                            <p>趣味学习</p>
                            <p>一起和字幕组学外语</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="panel panel-card" onclick="window.open('http://www.zmz2017.com');">
                        <div class="panel-heading">
                            <img src="../lib/style/images/zimuzu-logo-o.png" alt="" />
                            <h1>ZiMuZu.tv</h1>
                            <p>字幕组下载站</p>
                        </div>
                        <div class="panel-body">
                            <p>人人影视字幕组翻译</p>
                            <p>海外影视剧字幕</p>
                            <p>都在这里下载</p>
                            <p>粉丝必备</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="panel panel-card" onclick="window.open('http://allyingshi.com');">
                        <div class="panel-heading">
                            <img src="../lib/style/images/movies-logo.png" alt="" />
                            <h1>allyingshi.com</h1>
                            <p>影视资源导航站</p>
                        </div>
                        <div class="panel-body">
                            <p>搜集全球</p>
                            <p>著名影视资源类下载站</p>
                            <p>下载资源</p>
                            <p>就是这么简单</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="ui-links">
        <div class="ui-limit">
            <ul class="links-area">
                <li>
                    <div class="panel panel-link">
                        <div class="panel-heading ui-link" onclick="window.open('http://weibo.com/yyets');">
                            <p>人人影视官方微博</p>
                            <p>@人人影视字幕组分享</p>
                        </div>
                        <div class="panel-heading panel-heading2">
                            <p>人人影视合作洽谈</p>
                            <p>联系邮箱：fanyi@yyets.com</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="panel panel-link">
                        <div class="panel-heading ui-link"  onclick="window.open('http://weibo.com/zimuzu2015');">
                            <p>字幕组官方微博</p>
                            <p>@字幕组ZiMuZu</p>
                        </div>
                        <div class="panel-heading panel-heading2 ui-link" onclick="window.open('http://www.zmz2017.com/Announcement');">
                            <p>加入字幕组</p>
                            <p>成为我们的一员</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="panel panel-link">
                        <div class="panel-heading">
                            <p>人人影视官方微信号</p>
                            <p>美剧炸了</p>
                        </div>
                        <div class="panel-body">
                            <img src="../lib/style/images/code01.png" alt="" />
                        </div>
                    </div>
                </li>
                <li>
                    <div class="panel panel-link">
                        <div class="panel-heading">
                            <p>日剧组微信号</p>
                            <p>追新番</p>
                        </div>
                        <div class="panel-body">
                            <img src="../lib/style/images/code02.png" alt="" />
                            
                        </div>
                    </div>
                </li>
                <li>
                    <div class="panel panel-link">
                        <div class="panel-heading">
                            <p>韩剧组微信号</p>
                            <p>韩剧精灵</p>
                        </div>
                        <div class="panel-body">
                            <img src="../lib/style/images/code03.png" alt="" />
                        </div>
                    </div>
                </li>
                <li>
                    <div class="panel panel-link">
                        <div class="panel-heading">
                            <p>小语种组微信号</p>
                            <p>少数派观影报告</p>
                            
                        </div>
                        <div class="panel-body">
                            <img src="../lib/style/images/code04.png" alt="" />
                        </div>
                    </div>
                </li>
                
            </ul>
        </div>
    </div>
    <footer class="ui-footer">
        <div class="ui-limit">
            <ul class="footer-info">
                <li>YYeTs人人影视 2006-2017 © All Rights Reserved.</li>
                <li>神盾信息有限公司 (香港) Shield Technologies Limited  <span class="mail">联系邮箱：shield.hk@gmail.com</span></li>
            </ul>
            <img src="../lib/style/images/logo-small.png" class="footer-logo" alt="" />
        </div>
    </footer>
</body>
</html>
<script>
/*
$.AllInOne({
    onload:function(){},
    from:"ui-header.html",
    obj:".ui-header",
    to:"body"
});
*/
$(".anoc-list li").first().addClass("active");
$(".announcement .fa-times").click(function(){
    $(".announcement").slideUp();
});
function anco(){
     if($(".anoc-list li").size()>1){
     $.timer.set("anoc",function(){
        $(".anoc-list li").each(function(i,obj){
            if($(obj).hasClass("active")){
                $(obj).slideUp().removeClass("active");
                //alert(i+" "+$(obj).text()+" "+$(obj).next().size())
                if($(obj).next().size()>0){
                    $(obj).next().slideDown().addClass("mark");
                }else{
                    $(".anoc-list li").first().addClass("active").slideDown();
                }
            
            }
        });
        $(".anoc-list .mark").removeClass("mark").addClass("active");
        anco();
    },5000);
    }
}
anco();
</script>
<script src="../lib/init/loadFiles-after.js"></script>