<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>index</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<script src="../lib/init/loadFiles.js"></script>
<style type="text/css">
</style>
<style type="text/less">
.ui-content2nd{background-color: #f5f5f5; padding:4rem 0 0 0;
    .ui-limit{ background-color: #fff;}
}
.panel-article{ padding:2rem 4rem; margin:0;
    .panel-heading{font-size: 1.5rem; border-bottom: 1px solid #ccc; padding:1rem 0;
        img{width: 3rem;margin:0 1rem 0 0;}
    }
    .panel-body{font-size: 1.2rem; padding:2rem 0;
        p{text-indent: 2em;margin:0 0 2rem 0;}
        .qrcode{float: right;width: 10rem; margin:0 0 0 4rem;
            font-size: 1rem; text-align: center;
            img{width: 100%; margin:1rem 0 0 0;}
        }
    }
}
</style>
</head>
<body>
    <header class="ui-header">
        <div class="ui-limit">
            <div class="ui-logo">
                <img src="../lib/style/images/logo-large.png" class="img-logo" alt="zimuzu.tv" />
                <span class="desc hidden">yyets.com</span>
            </div>
            <ul class="ui-mnav">
                <li><a href="index.html">首页</a></li>
                <li><a href="page2nd.html">商业正版翻译</a></li>
                <li><a href="http://www.91dict.com/" target="_blank">人人词典</a></li>
                <li><a href="http://www.zmz2017.com" target="_blank">字幕组下载</a></li>
                <li><a href=" http://www.zmz2017.com/Announcement" target="_blank">加入字幕组</a></li>
                <li><a href="page2nd.html">关于我们</a></li>
            </ul>
        </div>
    </header>
    
    
    
    <div class="ui-content2nd">
        <div class="ui-limit">
            <div class="panel panel-article">
                <div class="panel-heading"><h3>请“人人美剧”（现叫人人视频）立即停止使用人人影视LOGO</h3></div>
                <div class="panel-body">
                    <p>
                        当年关站之后，人人影视字幕组受到重创，本已准备好解散。然后由第三方投资组建团队打造的人人美剧APP项目开展合作，我们就把品牌和数据全部导给对方共同发展。
                    </p>
                    <p>
                        本意是希望通过合作让人人影视有更好的发展，但是合作后我们并未能真正参与到人人美剧项目中去，不但无法发展，甚至还限制了人人影视做其他项目的机会，对方承诺的资助补贴也一直没有兑现。
                    </p>
                    <p>
                        我们通过变卖老人人影视资产重建了现在的网站，因为一些原因我们把普通会员账号全部清空后才重新开站。
                    </p>
                    <p>
                        <b><span style="color:#337FE5;">由于双方理念和价值观存在较大分歧以及矛盾不断，也为了人人影视未来能更加自由发展</span><span style="color:#337FE5;">，我们选择主动放弃并退出“人人视频”的所有股权</span><span style="color:#337FE5;">，人人影视字幕组已经彻底退出人人美剧（在改名人人视频之前就已退出）。</span></b> 
                    </p>
                    <p>
                        <b><span style="color:#E53333;font-size:24px;">当初人人美剧答应在拿到B轮融资的时候给予人人影视品牌使用费，现在对方已默默拿到了融资却一声不吭，</span><span style="color:#E53333;font-size:24px;">没有任何想</span><span style="color:#E53333;font-size:24px;">补偿我们的意思。 所以</span><span style="color:#E53333;font-size:24px;">请</span><span style="color:#E53333;font-size:24px;">人人视频不要在继续使用任何人人影视品牌进行宣传营销，也不要在</span><span style="color:#E53333;font-size:24px;">继续使用</span><span style="color:#E53333;font-size:24px;">人人影视LOGO，请在2017年</span><br>
                    </b> 
                    </p>
                    <p>
                        <b><span style="color:#E53333;font-size:24px;">3月1号之前</span><span style="color:#E53333;font-size:24px;">更换掉。</span></b> 
                    </p>
                    <p>
                        <b><br>
                    </b> 
                    </p>
                    <p>
                        <b> </b> <b>我们也会加紧开发自己APP，争取提供在线观看和离线下载功能，帮大家解决痛点。</b> 
                    </p>
                    <p>
                        <b><span style="color:#E53333;font-size:16px;"></span><span style="color:#E53333;font-size:16px;"></span><br>
                    </b> 
                    </p>
                    <p>
                        <b><br>
                    </b> 
                    </p>
                    <p>
                        并做以下声明：
                    </p>
                    <p>
                        <strong><span style="color:#E53333;font-size:18px;">1、请停止使用原人人影视LOGO，尽快更换LOGO</span></strong> 
                    </p>
                    <p>
                        <span style="color:#E53333;">2、以后人人视频不得再使用人人影视品牌以及粉丝情怀做任何宣传和营销。</span> 
                    </p>
                    <p>
                        <span style="color:#E53333;"></span><span style="color:#E53333;">3、人人影视也没有任何组员(或曾经的组员以及人人影视沾边的人)在人人视频任职或兼职。</span><span style="color:#E53333;"><br>
                    </span> 
                    </p>
                    <p>
                        <span style="color:#E53333;">4、人人影视字幕组也从未授权给人人视频使用我们的名义去谈任何合作。</span> 
                    </p>
                    <p>
                        <span style="color:#E53333;">5、禁止人人视频使用任何人人影视制作的资源和字幕</span> 
                    </p>
                    <p>
                        <span style="color:#E53333;"><br>
                    </span> 
                    </p>
                    <p>
                        <span style="color:#E53333;"><br>
                    </span> 
                    </p>
                    <p>
                        <span style="color:#E53333;"><br>
                    </span> 
                    </p>
                    <p>请认准人人影视的官方联系渠道：</p>
                    <p>人人影视官方联系邮箱：</p>
                    <p>fanyi@yyets.com</p>
                    
                    <p>重要声明：字幕组由网络爱好者自发组成,不以盈利为目的,加入仅凭个人兴趣爱好,没有任何金钱实质回报</p>
                </div>
            </div>
        </div>
    </div>
    <footer class="ui-footer">
        <div class="ui-limit">
            <ul class="footer-info">
                <li>YYeTs人人影视 2006-2017 © All Rights Reserved.</li>
                <li>神盾信息有限公司 (香港) Shield Technologies Limited  联系邮箱：shield.hk@gmail.com</li>
            </ul>
            <img src="../lib/style/images/logo-small.png" class="footer-logo" alt="" />
        </div>
    </footer>
</body>
</html>
<script>
/*
$.AllInOne({
    onload:function(){},
    from:"ui-header.html",
    obj:".ui-header",
    to:"body"
});
*/

</script>
<script src="../lib/init/loadFiles-after.js"></script>