<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>index</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<script src="../lib/init/loadFiles.js"></script>
<style type="text/css">
</style>
<style type="text/less">
</style>
</head>
<body>
    <header class="ui-header">
        <div class="ui-limit">
            <div class="ui-logo">
                <img src="../lib/style/images/logo-large.png" class="img-logo" alt="zimuzu.tv" />
                <span class="desc hidden">yyets.com</span>
            </div>
            <ul class="ui-mnav">
                <li><a href="index.html">首页</a></li>
                <li><a href="page2nd.html">商业正版翻译</a></li>
                <li><a href="http://www.91dict.com/" target="_blank">人人词典</a></li>
                <li><a href="http://www.zmz2017.com" target="_blank">字幕组下载</a></li>
                <li><a href=" http://www.zmz2017.com/Announcement" target="_blank">加入字幕组</a></li>
                <li><a href="page2nd.html">关于我们</a></li>
            </ul>
        </div>
    </header>
    
    
    
    <div class="ui-content2nd">
        <div class="ui-limit">
            <div class="panel panel-article">
                <div class="panel-heading"><img src="../lib/style/images/translate-logo.png" alt="" />商业翻译</div>
                <div class="panel-body">
                    <p>非常感谢大家的支持，2015年2月人人影视宣布转型后，人人影视字幕组团队一直在努力和积极的转型为视频网站翻译正版美剧，日剧和电影，目前已取得非常不错的成绩。人人影视字幕组经历10年发展，积累了丰富的人才与影视、书籍等翻译经验，以此为我们的强项，也为了给广大有需求的公司和个人提供更好的翻译质量，人人影视字幕组团队承接有正版授权的商业翻译业务，我们严格遵守合同所规定的义务与保密协议。</p>
                    <p>我们承接的业务包含影视剧多语言翻译，书籍，文档翻译，游戏汉化翻译，欢迎有此业务的公司联系我们。</p>
                    <p>目前人人影视字幕组团队已经在为国内多家著名视频站提供翻译服务，还为很多国产电影以及海外引进电影提供翻译，很多引进书籍都是我们的团队在翻译。</p>
                    <p>也欢迎有其他合作想法的伙伴们电邮联系我们！</p>
                    <p>我们的电子邮箱： fanyi@yyets.com </p>
                    <p>非常感谢大家的支持，人人影视字幕组从未离开，只是换了一种形式存在而已...</p>
                </div>
            </div>
            <div class="panel panel-article">
                <div class="panel-heading"><img src="../lib/style/images/logo-small-o.png" alt="" />关于我们</div>
                <div class="panel-body">
                    <p>YYeTs人人影视字幕组成立于2004年5月份左右，由加拿大留学生“小鬼神”牵头联合10多名爱好美剧的网友组成，所有人员均是利用自己业余时间做字幕组的工作，美剧的概念也是由这一批开拓者引入，让国内网友领略了美剧的魅力。2004年8月份美剧新季度开始，人人影视以最快的速度翻译发布，迎来了第一次辉煌，2005年4月份，随着美剧的结束，组内成员也随着毕业等原因退出许多，此时人人影视进入了谷底，甚至面临解散的危机，之后由小露担任临时组长，着手管理字幕组，经过不懈努力字幕组很快有了起色，随着翻译的美剧越来越多我们觉得有必要建立一个论坛提供给大家交流，于是在组内集资1300元购买了一个虚拟空间注册了域名之后人人影视论坛在2006年6月1号正式开通。第一批管理员由小鬼神，skrairman，Requiem等组员担任，同时为了更好的提供制作环境，组内再次集资了8000元购买了独立服务器供组内进行片源更新，同时也提供对外字幕下载。随着会员不断增加，访问量不断增加，2007年组内又进行了集资购买了独立网站服务器。到2008年组内服务器增加到了8台之多，除了部分捐助来源以外，其他资金全部内部集资，每年内部需要集资上万元，之后随着情况的好转资金的缺口也不断缩小甚至达到平衡。</p>
                    <p>从2004年成立至今，我们一直保持非商业非盈利性的性质，坚持分享，学习，进步的宗旨，一直致力于翻译海外优秀的影视和教材，我们所做的所有资源均免费发布分享，网站所得收入全部用作组织的运作以及其他发展之用。从2004年20多名组员发展至今已有800多名成员，所有成员全部凭兴趣爱好加入，没有任何实质报酬，所有人员都是利用自己的业余时间来做做字幕组的工作。人人影视管理人员全部由内部进行推举产生，人人影视的重大策略以及发展规划全部由管理层讨论确定。</p>
                    <p>2010年人人影视字幕组联合台湾，以及国内多家字幕组开始翻译大学公开课，为广大爱学习的网友提供中文课程字幕，方便了大家的理解。非常欢迎有兴趣的爱好者加入我们，让我们一起把人人影视这个组织做大做好，为更多的网友做贡献。</p>
                    <p>未来我们会尝试更多的项目，比如原创网络剧，外语教学视频拍摄，各类相关软件开放等等，当然我们所做的都是免费公开发布的。</p>
                    <p>很多人看到我们的网站和规模都无法相信这是一群网友利用业余时间做的，都认为肯定有什么公司在进行操作，如果你也这么想，那么应该改变下想法了，请相信爱好的力量，相信网络的力量，我们坚持自己的信念，坚持自己的理想，我们在向着我们的理想一步一步的前进，不管最终是否能实现，过程是精彩的。</p>
                    <p>我们的联络方式</p>
                    <p>微博： http://weibo.com/yyets</p>
                    <p>微信：ustvboom (美剧炸了)</p>
                    <p>邮箱：fanyi@yyets.com</p>
                    <p>欢迎有任何合作联系我们</p>
                </div>
            </div>
        </div>
    </div>
    <footer class="ui-footer">
        <div class="ui-limit">
            <ul class="footer-info">
                <li>YYeTs人人影视 2006-2017 © All Rights Reserved.</li>
                <li>神盾信息有限公司 (香港) Shield Technologies Limited  联系邮箱：shield.hk@gmail.com</li>
            </ul>
            <img src="../lib/style/images/logo-small.png" class="footer-logo" alt="" />
        </div>
    </footer>
</body>
</html>
<script>
/*
$.AllInOne({
    onload:function(){},
    from:"ui-header.html",
    obj:".ui-header",
    to:"body"
});
*/

</script>
<script src="../lib/init/loadFiles-after.js"></script>